.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  /* overflow: auto; */
  width: 22%;
  border-left: 1px solid rgba(240, 248, 255, 0.2);
}

.sidebar-item {
  color: #ffffff;
  display: block;
  font-size: 24px;
  padding: 40px 24px;
  text-transform: capitalize;
  text-decoration: none;
  border-bottom: 1px solid rgba(240, 248, 255, 0.2);
}

.sidebar-item:hover {
  background-color: #0a416de6;
}


.content{
    box-shadow: rgba(1, 73, 131, 0.9) 0px 2px 40px 0px;
    background: rgba(240, 248, 255, 0.9);
    border-radius: 8px;
    padding: 24px;
    width: 65%;
    margin: 100px 32px 100px;
}